:root {
  --gunmetal: #223843;
  --cultured: #EFF1F3;
  --lightGray: #DBD3D8;
  --desertSand: #D8B4A0;
  --terraCotta: #D77A61;

  --darkest: var(--gunmetal);
  --lightest: var(--cultured);
  --highlight: var(--lightGray);
  --secondary: var(--desertSand);
  --primary: var(--terraCotta);
}

html,body,#root,#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--lightest);
  color: var(--darkest);
}

@font-face {
  font-family: Andada;
  src: url(../fonts/Andada/AndadaPro.ttf) format('truetype');
}

@font-face {
  font-family: AndadaItalic;
  src: url(../fonts/Andada/AndadaProItalic.ttf) format('truetype');
  font-style: 'italic,oblique',
}

@font-face {
  font-family: Epilogue;
  src: url(../fonts/Epilogue/Epilogue.ttf) format('truetype');
}

@font-face {
  font-family: EpilogueItalic;
  src: url(../fonts/Epilogue/EpilogueItalic.ttf) format('truetype');
  font-style: italic,oblique;
}
